# Local development credentials, don't reuse anywhere.
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_ADMIN_USER=fleetpulse_admin
POSTGRES_ADMIN_PASSWORD=postgres_local_dev
FLEET_SERVICE_DB_USER=fleet_service_user
FLEET_SERVICE_DB_PASSWORD=fleet_local_dev
FLEET_SERVICE_DB_NAME=fleet_service
DELIVERY_SERVICE_DB_USER=delivery_service_user
DELIVERY_SERVICE_DB_PASSWORD=delivery_local_dev
DELIVERY_SERVICE_DB_NAME=delivery_service
GPS_SIMULATOR_DB_USER=gps_simulator_user
GPS_SIMULATOR_DB_PASSWORD=gps_sim_local_dev
GPS_SIMULATOR_DB_NAME=gps_simulator